<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{{ title|default('Blog Rick & Morty') }}{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/app.css">
    {% endblock %}
</head>
<body>
<div class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <div class="container d-flex justify-content-between">
        <a href="index.php" class="navbar-brand"><i class="fa fa-ambulance"></i> Rick and Morty</a>
        <ul class="navbar-nav mr-auto">
            {% if isConnected|default(false) %}
                <li class="nav-item">
                    <a class="nav-link" href="admin.php">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="admin_user.php">Admin User</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="admin_article.php">Admin Article</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="contact.php">Contact</a>
                </li>
            {% endif %}
        </ul>
        {% if isConnected|default(false) %}
            <form action="logout.php" method="post" class="form-inline my-2 my-lg-0">
                <input type="submit" class="btn btn-outline-danger my-2 my-sm-0" value="Logout">
            </form>
        {% else %}
            <form action="login.php" method="post" class="form-inline my-2 my-lg-0">
                <input name="email" type="email" class="form-control mr-sm-2" placeholder="Email">
                <input name="password" type="password" class="form-control mr-sm-2" placeholder="Password">
                <input type="submit" class="btn btn-outline-success my-2 my-sm-0" value="Login">
            </form>
        {% endif %}
    </div>
</div>

{% block body %}{% endblock %}

<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p>Website example, Bootstrap&copy; & Rick and Morty&trade;</p>
        <p>Customize it yourself!!!</p>
    </div>
</footer>
{% block javascripts %}
    <script src="js/jquery.min.js"></script>
    <script src="js/tether.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
{% endblock %}
</body>
</html>